In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('Data/estonia-passenger-list.csv', index_col='PassengerId')
df

,Country,Firstname,Lastname,Sex,Age,Category,Survived
PassengerId,,,,,,,
1,Sweden,ARVID KALLE,AADLI,M,62,P,0
2,Estonia,LEA,AALISTE,F,22,C,0
3,Estonia,AIRI,AAVASTE,F,21,C,0
4,Sweden,JURI,AAVIK,M,53,C,0
5,Sweden,BRITTA ELISABET,AHLSTROM,F,55,P,0
...,...,...,...,...,...,...,...
985,Sweden,ANNA INGRID BIRGITTA,OSTROM,F,60,P,0
986,Sweden,ELMAR MIKAEL,OUN,M,34,P,1
987,Sweden,ENN,QUNAPUU,M,77,P,0
988,Sweden,LY,GUNAPUU,F,87,P,0
989,Sweden,CARL,OVBERG,M,42,P,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989 entries, 1 to 989
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    989 non-null    object
 1   Firstname  989 non-null    object
 2   Lastname   989 non-null    object
 3   Sex        989 non-null    object
 4   Age        989 non-null    int64
 5   Category   989 non-null    object
 6   Survived   989 non-null    int64
dtypes: int64(2), object(5)
memory usage: 61.8+ KB

### 1. Visualize and analize passengers by countries

### 2. Visualize and analyze passengers by gender and age

### 3. Group age and make final plot

### 4. Visualize conclusions

### 5. Text variables

In [53]:
history = '''MS Estonia was a cruiseferry built in 1979/80 at the German shipyard Meyer Werft in Papenburg. The ship's 1994 sinking, in the Baltic Sea between Sweden, Åland, Finland and Estonia, was one of the worst maritime disasters of the 20th century. It is the second-deadliest peacetime sinking of a European ship, after the RMS Titanic, and the deadliest peacetime shipwreck to have occurred in European waters, with 852 lives lost. At 6.30pm on 27 September 1994, the ferry MS Estonia – the largest ship then flying the flag of the young Baltic republic, and a symbol of recently regained independence – set sail from Tallinn on a routine overnight crossing to Stockholm. On board were 803 passengers, most of them Swedish, and 186 crew, most of them Estonian. The conditions were rough – force 8 winds and waves up to 6 metres – but not unusual for the Baltic Sea in autumn. All other scheduled ferries were at sea.'''

country_conc = '''Here we can see that most of passengers were from baltic and scandinavian countries and most of crew were from Estonia, Sweden, Russia and Finland. On the sunburst chart the colorbar represents percent of survivors for every country.'''

age_conc = '''There were just about equal males and females on board. Also we can see that average age of passengers was much higher then average age of crew. The country with significant number of passengers and highest mean age is Sweden.'''

final_conc = '''On the plot above we can compare the number of survivals dependent on their category (passenger/crew), age group and gender. Most survived passengers as well as crew were men 19-45 years old. In opposite, almost nobody survived in age group more then 60 y.o. To descry a correlation between age and chance of survive we can plot two bar charts: everage age per country and percent of survivals per country. Countries with less then 4 persons on board are not taken into account as non-significant.'''

country_compare = '''We can approve that the higher average age was - the less representatives of a country survived but here we have some exceptions like Germany, Finland and Estonia.'''