In [1]:
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df = sns.load_dataset('car_crashes')

**car_crashes dataset overview:**

  - total -> Number of drivers involved in fatal collisions per billion miles
  - speeding -> Percentage Of Drivers Involved In Fatal Collisions Who Were Speeding
  - alcohol -> Percentage Of Drivers Involved In Fatal Collisions Who Were Alcohol-Impaired
  - not_distracted -> Percentage Of Drivers Involved In Fatal Collisions Who Were Not Distracted
  - no_previous -> Percentage Of Drivers Involved In Fatal Collisions Who Had Not Been Involved In Any Previous Accidents 
  - ins_premium -> Car Insurance Premiums
  - ins_losses -> Losses incurred by insurance companies for collisions per insured driver
  - abbrev -> USA states

In [3]:
df.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

**1. Demonstrate a correlation between all the numeric columns graphically.**

**2. Create a figure with 2 subplots. The first plot should demonstrate a percentage of drivers who were speeding per US state and the second one - the percentage of drivers who were alcohol-impaired per US state.**

In [11]:
df2 = sns.load_dataset('taxis')
df2.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

**3. Create a figure with boxplots those describe total payments depends on payments type (cash / credit card) for every passenger quantity.**

**4. Create a figure with 3 subplots. Two of them should be scatterplots: first of them shows relationship between distance and fare, second one - between distance and tip. Also, every value on these scatterplots should represent payment type and number of passengers. \
The third subplot should demonstrate distribution of distance values shown in percent.**